body {
  text-align: center;
  font-family: Arial;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin-top: 20px;
}

.box {
  width: 100px;
  height: 100px;
  background: #222;
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.box:hover {
  background: #444;
}

#status {
  font-size: 24px;
  color: green;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}